body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
.content {
    min-height: calc(100vh - 70px - 64px);
  }

.preloader-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px auto;
}  
.list {
    display: flex;
    max-width: 90%;
    margin: 20px auto;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card {
    display: flex;
    flex-direction: column;
    max-width: 250px;
}
.card-content {
    flex-grow: 1;
}
img,
iframe {
    max-width: 100%;
}
.iframe {
    width: 600px;
    height: 350px;
}
.btn {
  background-color: #ff525;
}
